body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}
/* Style dla ekranów poniżej 480px */
@media (max-width: 480px) {
    nav ul li {
        display: block;
    }

    nav ul li a {
        display: block;
        width: 100%;
    }
}

/* Style dla ekranów powyżej 480px */
@media (min-width: 481px) {
    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        display: inline-block;
    }
}